<div class="col-lg-12">
    <h2 class="text-center text-success">adminMongo</h2>
    <div class="col-lg-4 col-lg-offset-4">
        {{#if message}}<h4 class="text-danger text-center">{{message}}</h4>{{/if}}
        <form class="form-signin" method="post" action="{{app_context}}/config/credentials_action">
            <h2 class="form-signin-heading text-center">{{__ "Please enter connection credentials"}}</h2>

            <label for="inputUsername" class="sr-only">{{__ "Username"}}</label>
            <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="{{__ "Username"}}"" required><br/>

            <label for="inputPassword" class="sr-only">{{__ "Password"}}</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="{{__ "Password"}}"" required><br/>

            <input type="hidden" id="inputConnectionString" name="inputConnectionString" value="{{connection_string}}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{__ "Submit"}}</button>
        </form>
    </div>
</div>
